name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - swift:5.1-xenial
          - swift:5.1-bionic
          - swift:5.2-xenial
          - swift:5.2-bionic
          - swift:5.2-focal
          - swift:5.2-centos8
          - swift:5.2-amazonlinux2
          - swift:5.3-xenial
          - swift:5.3-bionic
          - swift:5.3-focal
          - swift:5.3-centos8
          - swift:5.3-amazonlinux2
          # see below for 5.4, 5.5, etc.
    container: ${{ matrix.image }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Run tests
      run: swift test --enable-test-discovery
  # 5.4 is separate because there was a bug in the compiler that caused
  # us to need to run swift tets with the -sil-verify-none flag.
  linux-5_4:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - swift:5.4-xenial
          - swift:5.4-bionic
          - swift:5.4-focal
          - swift:5.4-centos8
          - swift:5.4-amazonlinux2
    container: ${{ matrix.image }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Run tests (without test discovery flag)
      run: swift test -Xswiftc -Xfrontend -Xswiftc -sil-verify-none
  linux-5_5-plus:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - swift:5.5-xenial
          - swift:5.5-bionic
          - swift:5.5-focal
          - swift:5.5-centos8
          - swift:5.5-amazonlinux2
          - swift:5.6-bionic
          - swift:5.6-focal
          - swift:5.6-amazonlinux2
          - swift:5.7-bionic
          - swift:5.7-focal
          - swift:5.7-jammy
          - swift:5.7-amazonlinux2
          - swift:5.8-bionic
          - swift:5.8-focal
          - swift:5.8-jammy
          - swift:5.8-amazonlinux2
          - swiftlang/swift:nightly-bionic
          - swiftlang/swift:nightly-focal
          - swiftlang/swift:nightly-jammy
          - swiftlang/swift:nightly-amazonlinux2
    container: ${{ matrix.image }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Run tests
      run: swift test
  osx:
    runs-on: macOS-12
    steps:
      - name: Select latest available Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run tests
        run: swift test --enable-test-discovery
