name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - swift:6.0-focal
          - swift:6.0-jammy
          - swift:6.0-noble
          - swift:6.1-focal
          - swift:6.1-jammy
          - swift:6.1-noble
          - swift:6.2-jammy
          - swift:6.2-noble
          - swiftlang/swift:nightly-focal
#          - swiftlang/swift:nightly-jammy
    container: ${{ matrix.image }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Run tests
      run: swift test -Xswiftc -strict-concurrency=complete
  osx:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-14
          - macos-15
    runs-on: ${{ matrix.os }}
    steps:
      - name: Select latest available Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Run tests
        run: swift test -Xswiftc -strict-concurrency=complete
